html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#snackbar{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 30px;
}

#snackbar.show{
    visibility: visible;
    animation: fadein 0.5s fadeout 0.5s 2.5s;
}

@keyframes fadein{
    from {bottom: 0; opacity:0;}
    to{bottom: 30px; opacity: 1;}
}

@keyframes fadeout{
    from{bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity:0;}	
}

.cart-items{
    z-index:1;
}

.cart-wrapper{
}

.cart{
    border: 1px solid #443425;
    border-radius: 3px;


}

.cart .cart-header{
    background: #443425;
    color: #fff;
    padding: 10px 15px;
}

.cart .cart-body{
    padding: 10px 15px;    
    background: #fff;
    /*border-bottom: 1px solid #443425;*/
}

.cart .cart-body .itemDescription{
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    align-items: center;
}

.cart .cart-body .itemDescription:last-child{
    /*border-bottom: none;*/
}

.cart .cart-footer{
    background: #fff;
    padding: 10px 15px;
}

.cart .cart-body i{
    cursor: pointer;
}

.item{
    border: 1px solid #443425;
    border-radius: 3px;    
    margin-bottom: 15px;
}

.item .item-name{
    padding: 5px 10px;
    font-size: 16px;
    border-bottom: 1px solid #443425;
}

.item .item-quantity{
    margin: 5px 10px;
    min-height: 70px;
}

.item .item-quantity div{
    margin-bottom: 10px;
}

.item .item-add-btn{
    margin: 15px 10px;
}